/**
 * thesis-footer-tool.css - Stylesheet for Thesis Footer Tool.
 *
 * @package thesis-tools
 * @subpackage thesis-footer-tool
 * @author GrandSlambert
 * @copyright 2009-2010
 * @access public
 */

.long-box {
    width: 100%;
}

.tft-textarea {
    width: 100%;
    height: 225px;
}

.tft-warning {
    background: #FFCC00;
    padding: 8px;
    border: solid 2px #FF0000;
    font-weight: bold;
    margin: 8px 0;
    text-align: center;
}

ul#tft_tabs {
    border-bottom:1px solid #A2B6CB;
    font-family:Verdana,Arial;
    font-size:12px;
    font-weight:bold;
    list-style-type:none;
    margin-bottom:12px;
    padding-bottom:28px;
    z-index:1;
}

#tft_tabs li {
    background-color: #EBEBEB;
    border: 1px solid #A2B6CB;
    float: left;
    height: 25px;
    margin: 2px 0px 0px 5px;
}

#tft_tabs li a {
    color: #666;
    display: block;
    float: right;
    padding: 5px;
    text-decoration: none;
}